{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="text-center bordered-title">{{ type.name }}</h1>
        <hr>
        <div class="grid-row">
            <div class="grid-col ">
                <h2>{{ 'index.type.damage_relation'|trans }}</h2>
            </div>
            <div class="grid-col">
                <div class="d-flex">
                    <div>

                    </div>
                    {% for typeElement in types %}
                        <div class="d-flex size-80">
                            <img class="size-80" src="{{ typeElement.img|imagine_filter('rotate270') }}" alt="{{ typeElement.name }}">
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="grid-col mt-5">
            <h2>{{ 'index.type.pokemons'|trans({'%type%' : type.name}) }}</h2>
            <div class="pkmnCard-container">
                {% for pokemonType in type.pokemons %}
                    {% if pokemonType.pokemonSprites.spriteFrontDefault is not null %}
                        {% include'Pokemon/Cards/pokemon_card.html.twig' with {'pokemon' : pokemonType, 'size': type.pokemons|length} %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
