{% extends 'base.html.twig' %}

{% block title %}
    {{ 'pokemon.profile'|trans({'%pokemon%': pokemonSheet.pokemon.name}) }}
{% endblock %}

{% block body %}

    <div class="pkmnProfile">
        <div class="pkmnProfile-mainContent">
            <div class="pkmnProfile-colSprite col-lg-6 col-md-12 col-sm-12">
                <div class="pkmnProfile-colSpriteContainer">
                    <img class="pkmnProfile_sprite" src="{{ pokemonSheet.pokemon.pokemonSprites.spriteOfficial }}"
                         alt="{{ pokemonSheet.pokemon.name|capitalize }}"
                    >
                    <p class="pkmnProfile_bckgrdNumber lighten-profil">
                        <small>N. </small>
                        {{ pokemonSheet.level }}
                    </p>
                </div>
            </div>
            <div class="pkmnProfile-colDatas col-lg-6 col-md-12 col-sm-12">
                <div class="pkmnProfile-colDatasContainer">
                    <div class="pkmnProfile-datasHeader">
                        <h1 class="pkmnProfile-datasMainTitle">
                            {% if pokemonSheet.gender.image is not empty %}
                                <img src="{{ pokemonSheet.gender.image }}" alt="{{ pokemonSheet.gender.name }}">
                            {% endif %}
                            <span>
                                {{ pokemonSheet.pokemon.name }}
                            </span>
                        </h1>
                    </div>
                    <div class="pkmnProfile-datasTabWrapper col-lg-12 col-md-12 col-sm-12">
                        <div class="pkmnProfile-datasTab">
                            <table class="table table-striped profile-table w-100">
                                <tbody>
                                <tr>
                                    <th>{{ 'pokemon_sheet.show.type'|trans }}</th>
                                    <td>
                                        {% for type in pokemonSheet.pokemon.types %}
                                            <a href="{{ path('type_detail', {slug_type: type.slug }) }}">
                                                <img class="size-20" src="{{ type.img }}" alt="Type {{ type.name|lower }}"  title="{{ type.name|lower }}"/>
                                            </a>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'pokemon_sheet.show.nickname'|trans }}</th>
                                    <td>
                                        {% if pokemonSheet.nickname is empty %}
                                            --
                                        {% else %}
                                            {{ pokemonSheet.nickname }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'pokemon_sheet.show.ability'|trans }}</th>
                                    <td>
                                        <div class="field-form pokemon-sheet-btn">
                                            {% include 'Pokemon/Pokemon_sheet/_pokemon_sheet_ability.html.twig' with {ability: pokemonSheet.ability} %}
                                            <div id="form-pokemon-sheet-ability" class="d-none">
                                                <select name="select-pokemon-sheet-ability" class="mt-1">
                                                    {% for pkmnAbility in abilities %}
                                                        <option value="{{ pkmnAbility.ability.id }}">
                                                            {{ pkmnAbility.ability.name }}
                                                            {% if pkmnAbility.hidden %}
                                                                - <span class="hidden-talent">{{ 'pokemon.hidden_talent'|trans }}</span>
                                                            {% endif %}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <p id="currentPokemonSheetId" hidden>{{ pokemonSheet.id }}</p>
                                                <button id="pokemon-sheet-add-button" title="Valider" class="ml-1 btn pokemon-sheet-add-button">
                                                    <i class="fas fa-check-circle"></i>
                                                </button>
                                                <button id="pokemon-sheet-cancel-button" title="Annuler" class="btn pokemon-sheet-cancel-button">
                                                    <i class="fas fa-times-circle"></i>
                                                </button>
                                            </div>
                                            <button id="pokemon-sheet-edit-button" class="ml-5 btn pokemon-sheet-edit-button" title="Modifier">
                                                <i class="far fa-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'pokemon_sheet.show.nature'|trans }}</th>
                                    <td>
                                        <a href="{{ path('nature_index') }}">
                                            {{ pokemonSheet.nature.name }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'pokemon_sheet.show.moveSetName'|trans }}</th>
                                    <td>{{ pokemonSheet.moveSetName }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="pkmnProfile-datasTab">
                            <h2>{{ 'pokemon_sheet.show.moves'|trans }}</h2>
                            {% if pokemonSheet.moves|length > 0 %}
                                <table class="table table-striped table-fixed">
                                    <thead>
                                    <tr>
                                        <th class="text-center col-moves-name">{{ 'pokemon.moves.table.name'|trans }}</th>
                                        <th class="text-center col-moves-type">{{ 'pokemon.moves.table.type'|trans }}</th>
                                        <th class="text-center">{{ 'pokemon.moves.table.category'|trans }}</th>
                                        <th class="text-center col-moves-infos">{{ 'pokemon.moves.table.power'|trans }}</th>
                                        <th class="text-center col-moves-infos">{{ 'pokemon.moves.table.accuracy'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for move in pokemonSheet.moves %}
                                        <tr>
                                            <td>
                                                <a class="bold-link fs-100" href="{{ path('move_detail', {slug_move: move.slug }) }}">
                                                    {{ move.name }}
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="{{ path('type_detail', {slug_type: move.type.slug }) }}">
                                                    <img class="size-50"
                                                         title="{{ move.type.name }}"
                                                         src="{{ move.type.img }}"
                                                         alt="{{ move.type.name }}"
                                                    >
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <img class="size-25"
                                                     title="{{ move.damageClass.name }}"
                                                     src="{{ move.damageClass.image }}"
                                                     alt="{{ move.damageClass.name }}"
                                                >
                                            </td>
                                            <td class="text-center">
                                                {{ move.power }}
                                            </td>
                                            <td class="text-center">
                                                {{ move.accuracy }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>{{ 'pokemon_sheet.show.empty'|trans }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="pkmnProfile-background">
                <div class="pkmnProfile-backgroundSprite col-10"></div>
                <div class="pkmnProfile-backgroundDatas col-2"></div>
            </div>
        </div>
    </div>

{% endblock %}

