{% extends 'base.html.twig' %}

{% block body %}

        <div class="container">
            <h1>{{ 'pokemon_sheet.index.title'|trans }}</h1>
            <div class="col-8 mx-auto">
                <a class="btn" href="{{ path('pokemon_create') }}">
                    {{ 'pokemon_sheet.index.add'|trans }}
                </a>
                <table class="table table-striped text-center my-4">
                    <thead>
                        <tr>
                            <th>
                                {{
                                    knp_pagination_sortable(
                                    pokemonsSheet,
                                    'pokemon_sheet.index.table.pokemon'|trans,
                                    'pokemon.name')|raw
                                }}
                            </th>
                            <th>
                                {{
                                    knp_pagination_sortable(
                                    pokemonsSheet,
                                    'pokemon_sheet.index.table.level'|trans,
                                    'ps.level')|raw
                                }}
                            </th>
                            <th>
                                {{
                                    knp_pagination_sortable(
                                    pokemonsSheet,
                                    'pokemon_sheet.index.table.nature'|trans,
                                    'nature.name')|raw
                                }}
                            </th>
                            <th>
                                {{
                                knp_pagination_sortable(
                                    pokemonsSheet,
                                    'pokemon_sheet.index.table.ability'|trans,
                                    'ability.name')|raw
                                }}
                            </th>
                            <th>
                                {{ 'pokemon_sheet.index.table.moveset'|trans }}
                            </th>
                            <th>
                                {{ 'pokemon_sheet.index.table.evs_ok'|trans }}
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pokemonsSheet|length > 0 %}
                            {% for pokemonSheet in pokemonsSheet %}
                                <tr>
                                    <td class="text-center">
                                        {% if pokemonSheet.pokemon.pokemonSprites.spriteFrontDefault is not null %}
                                            <img class="pkmnCard-pict"
                                                 src="{{ pokemonSheet.pokemon.pokemonSprites.spriteFrontDefault }}"
                                                 alt="Pokemon {{ pokemonSheet.pokemon.name }}"
                                            >
                                        {% else %}
                                            <img class="pkmnCard-pict"
                                                 src="{{ asset('missingno_sm.png') }}"
                                                 alt="Pokemon {{ pokemonSheet.pokemon.name }}, mais sans sa photo"
                                            >
                                        {% endif %}
                                        {% if pokemonSheet.gender.image is not empty %}
                                            <img class="img-gender-smaller ml-1" src="{{ pokemonSheet.gender.image }}" alt="{{ pokemonSheet.gender.name }}">
                                        {% endif %}
                                        <a class="ml-1" href="{{ path('profile_pokemon', {slug_pokemon: pokemonSheet.pokemon.slug }) }}">
                                            {{ pokemonSheet.pokemon.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ pokemonSheet.level }}
                                    </td>
                                    <td>
                                        <a href="{{ path('nature_index') }}">
                                            {{ pokemonSheet.nature.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('ability_show', {slug_ability: pokemonSheet.ability.slug}) }}"
                                           title="{{ pokemonSheet.ability.description|capitalize }}"
                                        >
                                            {{ pokemonSheet.ability.name|capitalize }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ pokemonSheet.moveSetName }}
                                    </td>
                                    <td>
                                        {% set sumStats = pokemonSheet.evs|sumStats %}
                                        <div class="{% if sumStats >= 508 %}evs-ok{% else %}evs-empty{% endif %}">
                                            {{ sumStats }}
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn" href="{{ path('pokemon_sheet_show', {'id': pokemonSheet.id}) }}">
                                            <i class="fas fa-arrow-circle-right"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    {{ 'pokemon_sheet.index.empty'|trans }}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="pagination pt-0">
                    {{ knp_pagination_render(pokemonsSheet) }}
                </div>
            </div>
        </div>

{% endblock %}
