
<table class="table table-striped profile-table">
    <tbody>
        <tr>
            <th>{{ 'move.move.type'|trans }}</th>
            <td>
                <a href="{{ path('type_detail', {'code': move.type.language.code, 'slug': move.type.slug }) }}">
                    <img class="size-40" src="{{ move.type.img }}"
                         alt="Type {{ move.type.name|lower }}"
                         title="{{ move.type.name|lower }}"
                    >
                </a>
            </td>
        </tr>
        <tr>
            <th>{{ 'move.move.category'|trans }}</th>
            <td>
                <img class="size-15" src="{{ move.damageClass.image }}"
                     alt="Type {{ move.damageClass.name|lower }}"
                     title="{{ move.damageClass.name|lower }}"
                >
            </td>
        </tr>
        <tr>
            <th>{{ 'move.move.power'|trans }}</th>
            <td>
                {{ move.power }}
            </td>
        </tr>
        <tr>
            <th>{{ 'move.move.accuracy'|trans }}</th>
            <td>
                {{ move.accuracy }}
            </td>
        </tr>
        <tr>
            <th>{{ 'move.move.pp'|trans }}</th>
            <td>
                {{ move.pp }}<span class="light-detailed"> ({{ move.ppMax }} max.) </span>
            </td>
        </tr>
        <tr>
            <th>{{ 'move.move.priority.title'|trans }}</th>
            <td>
                {% if move.priority is same as (1) %}
                    {{ 'move.move.priority.yes'|trans }}
                {% else %}
                    {{ 'move.move.priority.no'|trans }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

