
<div id="result-calculator">
    <ul>
        <li>
            HP : {{ range['hp'][0] }} - {{ range['hp'][1] }}
        </li>
        <li>
            ATK : {{ range['atk'][0] }} - {{ range['atk'][1] }}
        </li>
        <li>
            DEF : {{ range['def'][0] }} - {{ range['def'][1] }}
        </li>
        <li>
            SPA : {{ range['spa'][0] }} - {{ range['spa'][1] }}
        </li>
        <li>
            SPD : {{ range['spd'][0] }} - {{ range['spd'][1] }}
        </li>
        <li>
            SPE : {{ range['spe'][0] }} - {{ range['spe'][1] }}
        </li>
    </ul>
</div>
