
<div>
    <ul class="list-unstyled result-calculator">
        <li>
            <span>HP :</span> {{ range['hp'][0]|raw }} - {{ range['hp'][1]|raw }}
        </li>
        <li>
            <span>ATK :</span> {{ range['atk'][0]|raw }} - {{ range['atk'][1]|raw }}
        </li>
        <li>
            <span>DEF :</span> {{ range['def'][0]|raw }} - {{ range['def'][1]|raw }}
        </li>
        <li>
            <span>SPA :</span> {{ range['spa'][0]|raw }} - {{ range['spa'][1]|raw }}
        </li>
        <li>
            <span>SPD :</span> {{ range['spd'][0]|raw }} - {{ range['spd'][1]|raw }}
        </li>
        <li>
            <span>SPE :</span> {{ range['spe'][0]|raw }} - {{ range['spe'][1]|raw }}
        </li>
    </ul>
</div>
