
<a class="btn btn-primary" href="#section-stats" role="button">{{ 'pokemon.stats.section'|trans }}</a>
<a class="btn btn-primary" href="#section-evolutions" role="button">{{ 'pokemon.evolutions.section'|trans }}</a>
<a class="btn btn-primary" href="#section-descriptions" role="button">{{ 'pokemon.descriptions.section'|trans }}</a>
<a class="btn btn-primary" href="#section-moves" role="button">{{ 'pokemon.moves.section'|trans }}</a>
<a class="btn btn-primary" href="#section-sprites" role="button">{{ 'pokemon.sprites.section'|trans }}</a>