<table class="table table-striped">
	<tbody>
		<tr>
			<th></th>
			<th class="text-center">
				{{ 'pokemon.sprites.default'|trans }}
			</th>
			<th class="text-center">
				{{ 'pokemon.sprites.shiny'|trans }}
			</th>
		</tr>
		{% for sprites in spritesVersionGroup %}
			<tr>
				<th class="align-middle">
					{{ sprites.versionGroup.name }}
				</th>
				<td class="text-center">
					{% if sprites.urlDefault is not same as(null) %}
						<img src="{{ sprites.urlDefault }}" alt="{{ pokemon.name }}">
					{% endif %}
				</td>
				<td class="text-center">
					{% if sprites.urlDefaultShiny is not same as(null) %}
						<img src="{{ sprites.urlDefaultShiny }}" alt="{{ pokemon.name }}">
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
