<table class="table table-striped profile-table text-center table-stats">
    <tbody>
    <tr>
        <td></td>
        <td class="th small-col">{{ 'pokemon.stats.ev'|trans }}</td>
        <td class="th small-col">{{ 'pokemon.stats.base'|trans }}</td>
        <td></td>
        <td class="th small-col" title="EV=0, IV=0, Nature-">{{ 'pokemon.stats.min.max'|trans }}</td>
        <td class="th small-col" title="EV=0, IV=0, Nature=">{{ 'pokemon.stats.min.min'|trans }}</td>
        <td class="th small-col" title="EV=255, IV=31, Nature=">{{ 'pokemon.stats.max.min'|trans }}</td>
        <td class="th small-col" title="EV=255, IV=31, Nature+">{{ 'pokemon.stats.max.max'|trans }}</td>
    </tr>
    <tr>
        <th>{{ 'pokemon.stats.hp'|trans }}</th>
        <td>{{ pokemon.statsEffort.hp }}</td>
        <td>{{ pokemon.hp }}</td>
        <td class="barchart-cell">
            <div class="barchart-bar {{ pokemon.hp|statsCss }}" style="width: {{ pokemon.hp|percent }}%"></div>
        </td>
        <td></td>
        <td>{{ pokemon.hpFormula(0, 0, 100) }}</td>
        <td>{{ pokemon.hpFormula(31, 255, 100) }}</td>
        <td></td>
    </tr>
    <tr>
        <th>{{ 'pokemon.stats.atk'|trans }}</th>
        <td>{{ pokemon.statsEffort.atk }}</td>
        <td>{{ pokemon.atk }}</td>
        <td class="barchart-cell">
            <div class="barchart-bar {{ pokemon.atk|statsCss }}" style="width: {{ pokemon.atk|percent }}%"></div>
        </td>
        <td>{{ pokemon.atkFormula(0, 0, 100, 0.9) }}</td>
        <td>{{ pokemon.atkFormula(0, 0, 100, 1) }}</td>
        <td>{{ pokemon.atkFormula(31, 255, 100, 1) }}</td>
        <td>{{ pokemon.atkFormula(31, 255, 100, 1.1) }}</td>
    </tr>
    <tr>
        <th>{{ 'pokemon.stats.def'|trans }}</th>
        <td>{{ pokemon.statsEffort.def }}</td>
        <td>{{ pokemon.def }}</td>
        <td class="barchart-cell">
            <div class="barchart-bar {{ pokemon.def|statsCss }}" style="width: {{ pokemon.def|percent }}%"></div>
        </td>
        <td>{{ pokemon.defFormula(0, 0, 100, 0.9) }}</td>
        <td>{{ pokemon.defFormula(0, 0, 100, 1) }}</td>
        <td>{{ pokemon.defFormula(31, 255, 100, 1) }}</td>
        <td>{{ pokemon.defFormula(31, 255, 100, 1.1) }}</td>
    </tr>
    <tr>
        <th>{{ 'pokemon.stats.spa'|trans }}</th>
        <td>{{ pokemon.statsEffort.spa }}</td>
        <td>{{ pokemon.spa }}</td>
        <td class="barchart-cell">
            <div class="barchart-bar {{ pokemon.spa|statsCss }}" style="width: {{ pokemon.spa|percent }}%"></div>
        </td>
        <td>{{ pokemon.spaFormula(0, 0, 100, 0.9) }}</td>
        <td>{{ pokemon.spaFormula(0, 0, 100, 1) }}</td>
        <td>{{ pokemon.spaFormula(31, 255, 100, 1) }}</td>
        <td>{{ pokemon.spaFormula(31, 255, 100, 1.1) }}</td>
    </tr>
    <tr>
        <th>{{ 'pokemon.stats.spd'|trans }}</th>
        <td>{{ pokemon.statsEffort.spd }}</td>
        <td>{{ pokemon.spd }}</td>
        <td class="barchart-cell">
            <div class="barchart-bar {{ pokemon.spd|statsCss }}" style="width: {{ pokemon.spd|percent }}%"></div>
        </td>
        <td>{{ pokemon.spdFormula(0, 0, 100, 0.9) }}</td>
        <td>{{ pokemon.spdFormula(0, 0, 100, 1) }}</td>
        <td>{{ pokemon.spdFormula(31, 255, 100, 1) }}</td>
        <td>{{ pokemon.spdFormula(31, 255, 100, 1.1) }}</td>
    </tr>
    <tr>
        <th>{{ 'pokemon.stats.spe'|trans }}</th>
        <td>{{ pokemon.statsEffort.spe }}</td>
        <td>{{ pokemon.spe }}</td>
        <td class="barchart-cell">
            <div class="barchart-bar {{ pokemon.spe|statsCss }}" style="width: {{ pokemon.spe|percent }}%"></div>
        </td>
        <td>{{ pokemon.speFormula(0, 0, 100, 0.9) }}</td>
        <td>{{ pokemon.speFormula(0, 0, 100, 1) }}</td>
        <td>{{ pokemon.speFormula(31, 255, 100, 1) }}</td>
        <td>{{ pokemon.speFormula(31, 255, 100, 1.1) }}</td>
    </tr>
    <tr>
        <th>{{ 'pokemon.stats.total'|trans }}</th>
        <td></td>
        <td class="th">{{ pokemon.totalStats }}</td>
    </tr>
    </tbody>
</table>
