{% extends 'base.html.twig' %}
{% block title %}Catch 'em all{% endblock %}
{% block body %}
    <h2 class="text-center">Derniers Pokemons enregistrés</h2>
    <hr>
    <div class="container">

        <hr>
        <div class="row">
            {% for pokemon in pokemons %}
                <div class="col-md-3 text-center mb-3">
                    <h3><a href="{{ path('profile_pokemon', {pokeName: pokemon.name }) }}">{{ pokemon.name }}</h3>
                    <a href="{{ path('profile_pokemon', {pokeName: pokemon.name }) }}">
                        <img src="{{ pokemon.urlimg }}" alt="Image de {{ pokemon.name }}" width="200px" height="200px">
                    </a>

                </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(pokemons) }}
        </div>
    </div>
{% endblock %}