{% extends 'base.html.twig' %}
{% block title %}Catch 'em all{% endblock %}
{% block body %}
    <h1 class="text-center">Liste des pokémons</h1>
    <hr>
    <div class="row justify-content-center">
        {% if offset > 0 %}
            <a class="btn btn-sm btn-dark mr-2" href="{{ path('listing', {offset: offset - 20}) }}">Précédent</a>
        {% endif %}
        <a class="btn btn-sm btn-info" href="{{ path('listing', {offset: offset + 20 }) }}">Suivant</a>
    </div>
    </a>
    <hr>
    <div class="row">
        {% for pokemonName in pokemonNames %}
            <div class="col-md-2 col-sm-8 text-center border pb-2">
                <h5 class="mt-2">
                    <a href="{{ path('profile_pokemon', {pokeName: pokemonName }) }}">{{ pokemonName|capitalize }}</a>
                </h5>
{#                <hr>#}
{#                 <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{ loop.index }}.svg" #}
{#                 width="150px" height="150px" alt=""><br> #}
{#                <hr>#}
                <a href="{{ path('profile_pokemon', {pokeName: pokemonName }) }}" class="btn btn-sm btn-dark">Voir plus</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}