{% extends 'base.html.twig' %}

{% block title %}Catch 'em all{% endblock %}

{% block body %}
    <h1 class="text-center mb-1 mt-3">{{ pokemon.name }}</h1>
    <hr>
    <div class="text-center">
        <div class="col-md-6 d-flex">
            <img src="{{ pokemon.urlSpriteImg }}" alt="Image de {{ pokemon.name|capitalize }}">

            <div class="col-md-6">
                <h2 class="text-center">Capacité(s)</h2>
                {% for ability in pokemon.abilities %}
                    <strong>{{ ability.name|capitalize }}</strong>: {{ ability.description }}<br>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {% for type in pokemon.types %}
                <img class="size-50" src="{{ type.img }}" alt="Type {{ type.name|lower }}"></li>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row pt-2">
            <hr>
            <div class="col-md-12 mt-3">
                <h2 class="text-center mb-3">Stats de base</h2>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">HP</th>
                        <th scope="col">ATK</th>
                        <th scope="col">DEF</th>
                        <th scope="col">SPA</th>
                        <th scope="col">SPD</th>
                        <th scope="col">SPE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ pokemon.hp }}</td>
                        <td>{{ pokemon.atk }}</td>
                        <td>{{ pokemon.def }}</td>
                        <td>{{ pokemon.spa }}</td>
                        <td>{{ pokemon.spd }}</td>
                        <td>{{ pokemon.spe }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <a href="{{ path('listing', { offset: 0 }) }}" class="btn btn-danger">Retour</a>
        </div>
    </div>
{% endblock %}
