{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mb-1 mt-3">{{ pokemon.name }}</h1>
    <hr>
    <div class="grid-row">
        <div class="col-md-6 d-flex text-center">
            <img class="size-75" src="{{ pokemon.urlSpriteImg }}" alt="Image de {{ pokemon.name|capitalize }}">
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Type(s)</th>
                        <td>
                            {% for type in pokemon.types %}
                                <img class="size-20" src="{{ type.img }}" alt="Type {{ type.name|lower }}"></li>
                            {% endfor %}
                        </td>
                    </tr>
                    {% if pokemon.pokemonSpecies is defined %}
                        <tr>
                            <th>Espèce</th>
                            <td>{{ pokemon.pokemonSpecies.genera }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Taille</th>
                        <td>{{ pokemon.height }} m</td>
                    </tr>
                    <tr>
                        <th>Poids</th>
                        <td>{{ pokemon.weight }} kg</td>
                    </tr>
                    <tr>
                        <th>Capacités</th>
                        <td>
{#                            {{ ability.description }}#}
                            {% for ability in pokemon.abilities %}
                                <a href="{{ path('ability_detail', {slug: ability.slug}) }}">{{ ability.name|capitalize }}</a><br>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row pt-2">
            <hr>
            <div class="col-md-12 mt-3">
                <h2 class="text-center mb-3">Stats de base</h2>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">HP</th>
                        <th scope="col">ATK</th>
                        <th scope="col">DEF</th>
                        <th scope="col">SPA</th>
                        <th scope="col">SPD</th>
                        <th scope="col">SPE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ pokemon.hp }}</td>
                        <td>{{ pokemon.atk }}</td>
                        <td>{{ pokemon.def }}</td>
                        <td>{{ pokemon.spa }}</td>
                        <td>{{ pokemon.spd }}</td>
                        <td>{{ pokemon.spe }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <a href="{{ path('listing', { offset: 0 }) }}" class="btn btn-danger">Retour</a>
        </div>
    </div>
{% endblock %}
