{% extends 'base.html.twig' %}

{% block title %}
    {{ 'pokemon.profile'|trans({'%pokemon%': pokemon.name}) }}
{% endblock %}

{% block body %}

    <h1 class="text-center bordered-title">{{ pokemon.name }}</h1>
    <hr>
    <div class="text-center">
        {% include 'Pokemon/Resume/link_section.html.twig' %}
    </div>
    <hr>
    <div class="grid-row">
        <div class="col-md-6 d-flex text-center">
            <img class="size-100" src="{{ pokemon.pokemonSprites.spriteOfficial }}" alt="Image de {{ pokemon.name|capitalize }}">
        </div>
        <div class="col-md-6">
            {% include 'Pokemon/Resume/resume_profil.html.twig' with {'pokemon' : pokemon} %}
        </div>
    </div>
    <hr>
    <div class="row" id="section-stats">
        <div class="col-md-12">
            {% include 'Pokemon/Resume/resume_stats.html.twig' with {'pokemon' : pokemon} %}
        </div>
    </div>
    <hr>
    <div class="row" id="section-evolutions">
        <div class="col-md-12">
            {% include 'Pokemon/Resume/resume_evolution.html.twig' with {'pokemon' : pokemon} %}
        </div>
    </div>
    <hr>
    <div class="row" id="section-descriptions">
        <div class="col-md-12">
            {% include 'Pokemon/Resume/resume_pokedex_flavor.html.twig' with {'arrayDescriptionVersion' : arrayDescriptionVersion} %}
        </div>
    </div>
    <hr>
    <div class="row" id="section-moves">
        <div class="col-md-12">
            {% include 'Pokemon/Resume/resume_moves.html.twig' with {'pokemon' : pokemon} %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

