
<div class="pkmn-card">
    <div>
        <span>
            {% if pokemon.pokemonSprites.spriteFrontDefault is not null %}
                <a href="{{ path('profile_pokemon', {slug_pokemon: pokemon.slug }) }}">
                    <img src="{{ pokemon.pokemonSprites.spriteFrontDefault }}" alt="Pokemon {{ pokemon.name }}">
                </a>
            {% else %}
                <div class="h-100 mt-1">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            {% endif %}
        </span>
    </div>
    <div>
        <span>
            <a class="bold-link" href="{{ path('profile_pokemon', {slug_pokemon: pokemon.slug }) }}">
                {{ pokemon.name }}
            </a>
        </span>
        <div class="row justify-content-center">
            {% for type in pokemon.types %}
                {% if nbEvol == 2 %}
                    {% if size == 1 %}
                        <img class="size-15" src="{{ type.img }}" alt="Type {{ type.name|lower }}">
                    {% else %}
                        <img class="size-40" src="{{ type.img }}" alt="Type {{ type.name|lower }}">
                    {% endif %}
                {% else %}
                    <img class="size-20" src="{{ type.img }}" alt="Type {{ type.name|lower }}">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div>
        {% if evolutionDetail is not null %}
            <small>
                {{ evolutionDetail }}
            </small>
        {% else %}
            {% if baby_trigger_item is not same as null %}
                <small>
                    {{ 'pokemon.evolution.baby_label'|trans({'%item%' : baby_trigger_item}) }}
                </small>
            {% else %}
                <br>
            {% endif %}
        {% endif %}
    </div>
</div>