<a class="pkmnCard" href="{{ path('profile_pokemon', {slug_pokemon: pokemon.slug }) }}">
	<div class="pkmnCard-header">
		{% if pokemon.pokemonSprites.spriteFrontDefault is not null %}
			<img class="pkmnCard-pict" src="{{ pokemon.pokemonSprites.spriteFrontDefault }}" alt="Pokemon {{ pokemon.name }}">
		{% else %}
			<img class="pkmnCard-pict" src="{{ asset('missingno_sm.png') }}" alt="Pokemon {{ pokemon.name }}, mais sans sa photo">
		{% endif %}
		<h4 class="pkmnCard-name">
			{{ pokemon.name }}
		</h4>
	</div>
	<div class="pkmnCard-rowTypes">
		{% for type in pokemon.types %}
			<img class="pkmnCard-typesPict" src="{{ type.img }}" alt="Type {{ type.name|lower }}">
		{% endfor %}
	</div>
	<div class="pkmnCard-rowEvolution">
		{% if evolutionDetail is not null %}
			<p class="pkmnCard-evolutionInfo">
				{{ evolutionDetail }}
			</p>
		{% else %}
			{% if baby_trigger_item is not same as null %}
				<p class="pkmnCard-evolutionInfo">
					{{ 'pokemon.evolution.baby_label'|trans({'%item%' : baby_trigger_item}) }}
				</p>
			{% endif %}
		{% endif %}
	</div>
</a>
