
<div class="pkmn-card">
    <div>
        <span>
            {% if pokemon.pokemonSprites.spriteFrontDefault is not null %}
                <a href="{{ path('profile_pokemon', {slug_pokemon: pokemon.slug }) }}">
                    <img src="{{ pokemon.pokemonSprites.spriteFrontDefault }}" alt="Pokemon {{ pokemon.name }}">
                </a>
            {% else %}
                <div class="h-100 mt-1">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            {% endif %}
        </span>
    </div>
    <div>
        <span>
            <a class="bold-link" href="{{ path('profile_pokemon', {slug_pokemon: pokemon.slug }) }}">
                {{ pokemon.name }}
            </a>
        </span>
        <div class="row justify-content-center">
            {% for type in pokemon.types %}
                {% if size == 1 %}
                    <img class="size-15" src="{{ type.img }}" alt="Type {{ type.name|lower }}">
                {% elseif size <=> 3 %}
                    <img class="size-30" src="{{ type.img }}" alt="Type {{ type.name|lower }}">
                {% else %}
                    <img class="size-40" src="{{ type.img }}" alt="Type {{ type.name|lower }}">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div>
        {% if evolutionDetail is not null %}
            <small>
                {% if evolutionDetail.minLevel is not null %}
                    {{ 'pokemon.evolution.trigger.level'|trans({'%level%' : evolutionDetail.minLevel}) }}
                {% endif %}
                {% if evolutionDetail.evolutionTrigger.slug|slice(3, evolutionDetail.evolutionTrigger.slug|length)
                    is same as('evolution-trigger-level-up')
                    and evolutionDetail.minLevel is null
                %}
                    {{ evolutionDetail.evolutionTrigger.name }}
                {% endif %}
                {% if evolutionDetail.gender is not null %}
                    {{ evolutionDetail.gender.name }}
                {% endif %}
                {% if evolutionDetail.heldItem is not null %}
                    {{ 'pokemon.evolution.trigger.held'|trans({'%heldItem%' : evolutionDetail.heldItem.name}) }}
                {% endif %}
            </small>
        {% else %}
            <br>
        {% endif %}
    </div>
</div>