{% extends 'base.html.twig' %}
{% block title %}Catch 'em all{% endblock %}

{% block body %}

    <h2 class="bordered-title">{{ 'index.generation.all.title'|trans }}</h2>
    <hr>
    <div>
        <table class="table-striped w-100">
            <tbody>
            {% for generation in generationList %}
                <tr>
                    <td class="p-4 m-2">
                        <span>
                            <div class="d-inline-flex">
                                <a class="bold-link fs-120" href="{{ path('pokedex_list_generation', {slug_generation: generation.slug }) }}">
                                    {{ generation }}
                                </a>
                                {% if generation.versionsGroup|length != 0 %}
                                    <div class="ml-3 light-detailed-italic">
                                        (
                                        {% for versionGroup in generation.versionsGroup %}
                                            {% if loop.index != 1  %}
                                                -
                                            {% endif %}
                                            {{ versionGroup.name }}
                                        {% endfor %}
                                        )
                                    </div>
                                {% endif %}
                            </div>
                            <div class="detailed">
                                ({{ generation.mainRegion.name }})
                            </div>
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}