{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="text-center bordered-title">{{ ability.name }}</h1>
        <hr>
        <div class="row">
            <div class="col">
                <h2>{{ 'index.ability.description'|trans }}</h2>
                {% if ability.description is empty %}
                    {{ 'index.ability.empty'|trans }}
                {% else %}
                    <p>{{ ability.description }}</p>
                {% endif %}
            </div>
            <div class="col">
                <h2>{{ 'index.title.description'|trans }}</h2>
                {% include 'ability/detail_description.html.twig' with {'abilityVersionGroup' : abilityVersionGroup } %}
            </div>
        </div>
        <div class="grid-col ">
            <h2>{{ 'index.ability.pokemons'|trans }}</h2>
            <div class="container pokedexPage-content">
                <div class="pkmnCard-container">
                    {% for pokemonAbility in ability.pokemonsAbility %}
                        {% if pokemonAbility.pokemon.pokemonSprites.spriteFrontDefault is not null %}
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 px-2 mb-3">
                                {% include'Pokemon/Cards/pokemon_card.html.twig' with {
                                        'pokemon' : pokemonAbility.pokemon,
                                        'size': ability.pokemonsAbility|length
                                } %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
