{% extends 'base.html.twig' %}
{% block title %}Catch 'em all{% endblock %}
{% block body %}
    <h2 class="text-center">Derniers Pokemons enregistrés</h2>
    <hr>
    <div class="container">
        <form action="#" method="post">
            <div class="form-group row">
                <div class="col-md-5 m-auto text-center">
                    <label for="pokeName" class="col-form-label text-right">Pokémon recherché :</label>
                    <input class="form-control" type="search" name="pokeName" id="pokeName">
                    <small id="pokeHelp" class="form-text text-muted">Inscrire un nom de pokémon</small>
                    <button type="submit" class="btn btn-sm btn-danger mt-2">Rechercher !</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            {% for pokemon in pokemons %}
                <div class="col-md-3 text-center mb-3">
                    <h3><a href="{{ path('profile_pokemon', {pokeName: pokemon.name }) }}">{{ pokemon.name }}</h3>
                    <a href="{{ path('profile_pokemon', {pokeName: pokemon.name }) }}">
                        <img src="{{ pokemon.urlimg }}" alt="Image de {{ pokemon.name }}" width="200px" height="200px">
                    </a>

                </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(pokemons) }}
        </div>
    </div>
{% endblock %}