{% extends 'base.html.twig' %}
{% block title %}Catch 'em all{% endblock %}
{% block body %}
    <h1 class="text-center">Liste des pokémons</h1>
    <hr>
    <form action="#" method="post">
        <div class="form-group row">
            <div class="col-md-2 m-auto text-center">
                <label for="pokeName" class="col-form-label text-right">Pokémon recherché :</label>
                <input class="form-control" type="text" name="pokeName" id="pokeName">
                <small id="pokeHelp" class="form-text text-muted">Inscrire un nom de pokémon</small>
                <button type="submit" class="btn btn-sm btn-danger mt-2">Rechercher !</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="row justify-content-center">
        {% if offset > 0 %}
            <a class="btn btn-sm btn-dark mr-2" href="{{ path('listing', {offset: offset-20}) }}">Précédent</a>
        {% endif %}
        <a class="btn btn-sm btn-info" href="{{ path('listing', {offset: offset+20}) }}">Suivant</a>
    </div>
    </a>
    <hr>
    <div class="row">
        {% for i in apiResponse.results %}
            <div class="col-md-4 col-sm-6 text-center border pb-2">
                <h5 class="mt-2"><a
                            href="{{ path('profile_pokemon', {pokeName: i.name }) }}">{{ i.name|capitalize }}</a></h5>
                <hr>
                {# <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{ loop.index }}.svg" #}
                {# width="150px" height="150px" alt=""><br> #}
                <hr>
                <a href="{{ path('profile_pokemon', {pokeName: i.name }) }}" class="btn btn-sm btn-dark">Voir plus</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}