<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Catch 'em all{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <h1 class="text-center mb-1 mt-3">Profil de {{ nomPokmn|upper }}</h1>
    <hr>
    <div class="row justify-content-center mb-3 mt-3">
        <img src="{{ imgPokmn }}" width="200px"
             alt="Image de {{ nomPokmn|capitalize }}">
    </div>
    <hr>
    <div class="container">
        <div class="row pt-2">
            <div class="col-md-6">
                <h2 class="text-center">Type</h2>
                <ul>
                    {% for typeName in typeNames %}
                        <li>{{ typeName|capitalize }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Abilities</h2>
                <ul>
                    {% for abilityName in abilityNames %}
                        <li>{{ abilityName|capitalize }}</li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            <div class="col-md-12 mt-3">
                <h2 class="text-center mb-3">Spéciales Stats</h2>
                <table class="table text-center">
                    <thead>
                    <tr>
                        {% for nameSpecialStats in namesSpecialStats %}
                            <th scope="col">{{ nameSpecialStats|upper }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for valeurSpecialStats in valeursSpecialStats %}
                            <td>{{ valeurSpecialStats }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <a href="{{ path('listing', { offset: 0 }) }}" class="btn btn-danger">Retour</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
